<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ТЦ "Оливье"</title>
    <link rel='stylesheet' href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="windows-1251"></script>
  </head>
  <body>
    <div class="container" id="app">
      <div class="row h-100">
        <component
          :is="currentView"
          @start-game="startGame"
          @go-checkout="goCheckout"
          @finish-level="finishLevel"
          @next-level="nextLevel"
          :start-game-label="startGameLabel"
          :level='level'
          :score='score'
          :all-goods='allGoods'
          :time-left='timeLeft'
          :total-time='totalTime'
          :score-diff='scoreDiff'
          :correct-answer='correctAnswer'
          :game-over-message='gameOverMessage'
          :share-button-html='shareButtonHtml'
          ></component>
      </div>
      <div class="row outer-footer">
        <div class="row inner-footer">
          <p class="footer"><a href="https://mrevgenx.github.io/" target="_blank">mrEvgenX</a> 2018</p>
        </div>
      </div>
    </div>

    <template id="start">
          <div class="col-sm-12 my-auto">
            <div class="own-centerer" style="margin-bottom: 15px;">
              <img src="img/main.jpg" class="rounded" width="450" alt="Новый год в ТЦ">
            </div>
            <div class="mx-auto" style="width:250px;">
              <button v-focus-start type="button" class="btn btn-outline-primary btn btn-block" :disabled="startGameLabel != 'Начать игру'" @click="startGame()">{{startGameLabel}}</button>
            </div>
            <div class="own-centerer" style="margin-top: 10px;">
              <p>Или жми Enter</p>
            </div>
          </div>
    </template>

    <template id="game">
        <div class="col-sm-12 my-auto">
          <div style="text-align: center;">
            <p>{{level > 0? 'Уровень ' + level: 'Обучение'}}</p>
          </div>
          <div class="progress mx-auto">
            <div class="progress-bar emptiness" role="progressbar" :style="{width: 100-timeLeftPerc + '%'}"></div>
            <div class="progress-bar bg-danger progress-bar-striped" role="progressbar" :style="{width: timeLeftPerc + '%'}"></div>
            <div class="progress-bar emptiness" role="progressbar" :style="{width: 100-timeLeftPerc + '%'}"></div>
          </div>
          <div class="under-progressbar own-centerer">
            <p>{{allGoods[level][currGoodIndex].name}}</p>
          </div>
          <div v-if="level > 0" class="own-centerer">
            <p>{{allGoods[level][currGoodIndex].price}} руб.</p>
          </div>
          <div class="own-centerer">
            <button v-focus v-if="anyGoodsLeft" id="nextGood" type="button" class="btn btn-outline-primary" @click="nextGood()">Ага, идем дальше</button>
            <button v-focus v-else id="goCheckout" type="button" class="btn btn-outline-primary" @click="goCheckout()">{{level > 0? 'Пора на кассу': 'Ага, идем дальше'}}</button>
          </div>
          <div class="own-centerer">
            <button v-if="level == 0" type="button" class="btn btn-link" @click="goCheckout()">Пропустить обучение</button>
          </div>
      </div>
    </template>

    <template id="checkout">
        <div class="col-sm-12 my-auto">
          <div style="text-align: center;">
            <p>Уровень {{level}}</p>
          </div>
          <div class="progress mx-auto">
            <div class="progress-bar emptiness" role="progressbar" :style="{width: 100-timeLeftPerc + '%'}"></div>
            <div class="progress-bar bg-danger progress-bar-striped" role="progressbar" :style="{width: timeLeftPerc + '%'}"></div>
            <div class="progress-bar emptiness" role="progressbar" :style="{width: 100-timeLeftPerc + '%'}"></div>
          </div>
          <div class="under-progressbar own-centerer">
            <p>И на сколько же я там набрал?</p>
          </div>
          <div class="your-answer mx-auto">
            <div class="form-group">
              <input v-focus type="number" class="form-control" name="total_sum" id="answer" v-model="answer" value="" @keydown.enter="finishLevel()" autocomplete="off">
            </div>
          </div>
          <div class="own-centerer">
            <button type="button" class="btn btn-outline-primary" @click="finishLevel()">Пусть так</button>
          </div>
      </div>
    </template>

    <template id="levelscore">
        <div class="col-sm-12 my-auto">
          <div v-if="level > 0" style="text-align: center;">
            <p>Уровень {{level}}</p>
          </div>
          <div class="progress mx-auto">
            <div class="progress-bar emptiness" role="progressbar" style="width: 100%; background: white"></div>
            <div class="progress-bar emptiness" role="progressbar" style="width: 0%"></div>
            <div class="progress-bar emptiness" role="progressbar" style="width: 100%; background: white"></div>
          </div>
          <div class="under-progressbar own-centerer">
            <p v-if="level > 0">Уровень пройден! Точная сумма: {{correctAnswer}}</p>
            <p v-else>Как будешь готов, поехали!</p>
          </div>
          <div v-if="level > 0" class="star-score own-centerer">
            <span class="fa fa-4x" :class="{'fa-star': scoreDiff >= 1, 'fa-star-o': scoreDiff < 1}"></span>
            <span class="fa fa-4x" :class="{'fa-star': scoreDiff >= 2, 'fa-star-o': scoreDiff < 2}"></span>
            <span class="fa fa-4x" :class="{'fa-star': scoreDiff >= 3, 'fa-star-o': scoreDiff < 3}"></span>
          </div>
          <div id="next-level-cointainer" class="own-centerer">
            <button v-focus type="button" class="btn btn-outline-primary" @click="nextLevel()">{{buttonLabel}}</button>
          </div>
      </div>
    </template>

    <template id="gamefinal">
        <div class="col-sm-12 my-auto">
          <div class="own-centerer">
            <p>{{gameOverMessage}}</p>
          </div>
          <div class="own-centerer">
            <p>Удалось набрать {{score}} очков, достигнув {{level}} уровня</p>
          </div>
          <div class="own-centerer">
            <div style="display: inline-block;">
              <span v-html="shareButtonHtml"></span>
            </div>
          </div>
          <div class="own-centerer">
            <p>Или может еще разок? Просто перезагрузи страницу</p>
          </div>
      </div>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="game.js"></script>
  </body>
</html>
